@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Courier New", monospace;
  --font-geist-sans: "Geist Sans", sans-serif;
}

body {
  font-family: var(--font-geist-sans);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-geist-sans);
  }
}

* button {
  @apply cursor-pointer;
}
