@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Courier New", monospace;
  --font-geist-sans: "Geist Sans", sans-serif;
  --main-color: #b87ae6;
  --main-two-color: #6b0ee8;
  --secondary-color: #050505;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--secondary-color);
}

.custom-text {
  font-family: var(--font-roboto);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-roboto);
}

* button {
  @apply cursor-pointer;
}
